#r1,#r2,#rahul1{
	background-color: yellow;
	text-decoration: none;
}
#r1{
	height: 30px;
}
#raj,#raj1{
	background-color: lawngreen;
	text-decoration: none;
}
.d1{
	background-color: darkred;
}
#ram{
	background-color: blue;
	width: 45px;
}
#c{
	background-color: red;
}
